<% title "About Me" %>

<ul class="disc">
  <li>I'm Dan Neumann</li>
    <ul class="circle">
      <li><%= link_to "Email", "danrodneu@gmail.com" %></li>
    </ul>
  <li>BBA in <%= link_to "MIS", "http://www.mccombs.utexas.edu/BBA/Advising/Majors/Business/MIS.aspx" %></li>
  <li>New grad from the <%= link_to "McCombs Business School", "http://www.mccombs.utexas.edu/" %> at <%= link_to "The University of Texas", "http://www.utexas.edu/" %>, 2011</li>
  <li>Studied abroad at <%= link_to "VŠE University of Economics", "http://en.wikipedia.org/wiki/University_of_Economics,_Prague" %>   in Prague, Czech Republic, 2009</li>
</ul>

<h3>Programming</h3>

<ul class="disc">
  <li>Vim-lover</li>
  <li>Current focus: Ruby/Rails and Javascript/Backbone.js</li>
  <li><%= link_to "Top 1,000", "http://contributors.rubyonrails.org/contributors/dan-neumann/commits" %>  Rails Contributor (heh)</li>
</ul>

