= form_for @post, url: [:admin, @post], html: { class: "post-form" } do |f|
  = f.label :title
  = f.text_field :title
  %fieldset
    = hidden_field_tag "post[category_ids][]", nil
    - Category.all.each do |category|
      = label_tag "post[category_ids][#{category.id}]" do
        = check_box_tag "post[category_ids][#{category.id}]", category.id, @post.category_ids.include?(category.id), name: "post[category_ids][]"
        %span= category.name
  #preview
  = f.label :body
  %a.preview(href="#") Preview
  = image_tag asset_path("loading.gif"), class: "loading"
  = f.text_area :body

  = f.submit
