<% title @post.title %>

<% if admin_controller? %>
  <% content_for :admin do %>
    This Post: 
    <%= link_to "Edit", edit_admin_post_path(@post) %>
    <%= link_to "Destroy", admin_post_path(@post), :confirm => 'Are you sure?', :method => :delete  %>
  <% end %>
<% end %>

<div class="post-meta clearfix">
  <div class="post-categories thirteen columns alpha">
    <% unless @post.categories.empty? %>
      <%= raw @post.categories.map { |c| gated_link_to(c.name, category_path(c)) }.to_sentence %>
    <% end %>
  </div>
  <div class="post-date three columns omega">
    <%= simple_date @post.created_at %>
  </div>
</div>

<%= raw @post.rendered_body %>

<%= disqus %>

<script type="text/javascript">
  var disqus_shortname = 'danneu'; 
  var disqus_identifier = '<%= @post.id %>';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
