<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} — danneu's blog" : "danneu's blog" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <div class="header">
        <h1 class="logo"><%= link_to 'danneu', root_path %></h1> 
        <span class="tagline">&mdash; a 23-year-old guy with a blog &mdash;</span>
        <ul class="nav">
          <li class="link"><%= link_to "about me", root_path %></li>
        </ul>
        →
      </div>

      <div class="content">
        <%= content_tag :h2, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
