<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} — danneu's blog" : "danneu's blog" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <% if current_user %>
      <div class="admin-bar" style="padding: 0 10px;">
        <span style="float: left">
          <%= link_to "New Post", new_post_path %>
          <%= link_to "New Category", new_category_path %>
          <%= link_to "Categories", categories_path %>
        </span>
        <span style="float: right;">
          You are logged in.
          <%= link_to "Log out", logout_path %> 
        </span>
        <% if content_for? :admin %> 
          <span style="margin: 0 auto;">
          <%= yield :admin %>
        </span>
        <% end %>
        <br style="clear: both;" />
      </div> 
    <% end %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <div class="header">
        <h1 class="logo"><%= link_to 'danneu', root_path %></h1> 
        <span class="tagline">&mdash; a 23-year-old guy with a blog &mdash;</span>
        <ul class="nav">
          <li class="link"><%= link_to "about me", root_path %></li>
        </ul>
        →
      </div>

      <div class="content">
        <%= content_tag :h2, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
